@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.hey {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(245, 244, 244, 0.781);
  color: #01070f;
  height: 100vh;
}
