@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.hey {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(245, 244, 244, 0.781);
  color: #01070f;
  height: 100vh;
}
.productContainer {
  min-width: 60%;

  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.productContainer img {
  border-radius: 10px;
}

.color {
  border: 3px solid orangered;
  opacity: 0.5;
  object-fit: contain;
}
