@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.hero-body {
  /* position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Roboto", sans-serif;
  transform: translate(-50%, -50%);
  color: white; */
}

/*  */
.hero-body {
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 0.02px;
  background-color: #332c2c;
}

#pics img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.scroll {
  height: 530px;
  width: 500px;
  overflow: hidden;
}
.scroll-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 769px) {
  #pics img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .scroll {
    height: 330px;
    width: 300px;
  }
}
