@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

nav {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #01070f;
  letter-spacing: 0.2px;
}
nav ul {
  color: #01070f;
}

.button {
  transition: all 0.2 ease;
  font-family: "Montserrat", sans-serif;
}
.button:hover {
  transform: scale(0.96);
}
