@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  color: #01070f;
}
nav ul {
  color: #01070f;
}

.button {
  transition: all 0.2 ease;
  font-family: "Montserrat", sans-serif;
}
.button:hover {
  transform: scale(0.96);
}
