@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.sixthsection__bg {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  color: #01070f;
}
.sixthsection__bg .button {
  color: #fff;

  background-color: #01070f;
}
.sixthsection__bg .button:hover {
  background-color: #fff;
  color: #01070f;
}
